<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contactModel</title>
    <link rel="shortcut icon" href="img/user1.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="wrap bgupload-vdo">
      <div class="container">
        <div class="cover-upload-vdo">
          <h2>
            Edit Model

            <h5 style="color: #fff; text-align: center"><%= contacts.id %></h5>
          </h2>
          <form action="/edit" method="post" id="form">
            <label> <%= error.name? error.name : 'Name' %> </label>
            <input
              class="inp1 <%= error.name? 'isvalid': '' %>"
              type="text"
              name="name"
              value="<%=  contacts.name? contacts.name:'' %>"
              placeholder="Enter Name"
            />
            <label> <%= error.email ? error.email : 'Email' %></label>
            <input
              class="inp2 <%= error.email? 'isvalid': '' %>"
              type="email"
              name="email"
              value="<%=  contacts.email? contacts.email:''  %>"
              placeholder="Enter Email"
            />
            <label> <%= error.phone ? error.phone : 'Phone' %></label>
            <input
              class="inp2 <%= error.phone? 'isvalid': '' %>"
              type="number"
              name="phone"
              value="<%=  contacts.phone? contacts.phone:''  %>"
              placeholder="Enter Phone"
            />
            <input type="hidden" name="id" value="<%=  contacts.id  %>" />
            <button type="submit">
              <img src="img/up-arrow.svg" alt="" /> Update
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
