<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>contactModel</title>
    <link rel="shortcut icon" href="img/user1.png" type="image/x-icon" />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="wrap bgupload-vdo">
      <div class="container">
        <div class="cover-upload-vdo">
          <h2>Contact Model v3</h2>
          <form action="/" method="post" id="form">
            <label> <%= error.name? error.name : 'Name' %> </label>
            <input
              class="inp1 <%= error.name? 'isvalid': '' %>"
              type="text"
              name="name"
              value="<%=  data.name  %>"
              placeholder="Enter Name"
            />
            <label> <%= error.email ? error.email : 'Email' %></label>
            <input
              class="inp2 <%= error.email? 'isvalid': '' %>"
              type="email"
              name="email"
              value="<%=  data.email  %>"
              placeholder="Enter Email"
            />
            <label> <%= error.phone ? error.phone : 'Phone' %></label>
            <input
              class="inp2 <%= error.phone? 'isvalid': '' %>"
              type="number"
              name="phone"
              value="<%=  data.phone  %>"
              placeholder="Enter Phone"
            />
            <input type="hidden" name="id" />
            <button type="submit">
              <img src="img/up-arrow.svg" alt="" /> Upload
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <h2>List of Contact</h2>
      <table class="table-responsive table-vaccine">
        <thead>
          <tr class="header-row">
            <th class="table-column">Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>actions</th>
          </tr>
        </thead>
        <tbody>
          <% contacts.forEach((contact) => { %>

          <tr>
            <th scope="row" class="row"><%= contact.name %></th>
            <td><%= contact.email %></td>
            <td><%= contact.phone %></td>
            <td>
              <button
                class="edit"
                data-name="<%= contact.name %>"
                data-email="<%= contact.email %>"
                data-phone="<%= contact.phone %>"
                data-id="<%= contact._id %>"
              >
                Edit
              </button>
              <a href="/delete/<%= contact._id %>" class="delete">Delete</a>
            </td>
          </tr>

          <% }) %>
        </tbody>
      </table>
    </div>

    <script>
      window.onload = () => {
        let editBtn = document.querySelectorAll(".edit");
        let form = document.querySelector("#form");
        editBtn.forEach((btn) => {
          btn.addEventListener("click", function (e) {
            let { name, email, phone, id } = e.target.dataset;
            form[0].value = name;
            form[1].value = email;
            form[2].value = phone;
            form[3].value = id;
            form[4].innerText = "Update";
          });
        });
      };
    </script>
  </body>
</html>
